@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.pSubRightDiv {

    height: calc(100vh - 90px);
    padding: 40px 26px;
    animation: fadeInAnimation 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    animation-iteration-count: 1;
}


.dropdownMainDiv {
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    // width: fit-content;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

.backArrow {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        height: 100%;
        margin-top: 2px;
    }
}

.skelMargin {
    margin-left: 5px;
}

.pHeadingDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        color: #292933;

        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.72px;
    }

    h2 {
        margin-top: 8px;
        color: #292933;

        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.66px;
    }
}

.tabTitle {
    width: 100%;
    color: #313131;
    // font-family: "SF Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
}

.dashboardScroll {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    overflow-y: scroll;
    // max-height: 77vh;
    margin-top: 22px;
    padding: 20px 0;

    &::-webkit-scrollbar {
        display: none;
    }
}

.pScoreDiv {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}



.userTitle {
    color: #7F7E7E;
    // font-family: "SF Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
    align-self: flex-end;
}

.graphMainDiv {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    // padding: 52px;
    border-radius: 8px;
    // background: #fff;
    margin-top: 20px;
    flex: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        background: #b5b5b5;
    }

    &::-webkit-scrollbar-thumb {
        background: #313131;
        border-radius: 4px;
    }
}

.graphUserTableDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    // padding: 26px;
    border-radius: 12px;
    // background: #fff;
    // margin-top: 20px;
    flex: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        background: #b5b5b5;
    }

    &::-webkit-scrollbar-thumb {
        background: #313131;
        border-radius: 4px;
    }
}

.enidTag {
    color: #009883;
    // font-family: "SF Pro";
    font-size: 14px;
    font-style: normal;
    // font-weight: 510;
    line-height: normal;
}

.statusTag {
    width: fit-content;
    padding: 4px 8px;
    border-radius: 64px;
    background: #E6F6F4;
    color: #009883;
    // font-family: "SF Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
}

.graphSectionMain {
    width: 90%;
}

.tableFilterMainDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.userFilter {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    p {
        padding: 10px 14px;
        border-radius: 64px;
        border: 1px solid #B0E4DD;
        background: #FFF;
        color: #007F6D;
        // font-family: "SF Pro";
        font-size: 16px;
        font-style: normal;
        font-weight: 510;
        line-height: normal;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            transition: all 0.3s ease-in-out;
            background: #D9F2EF;
        }

        &.active {
            background: #D9F2EF;
        }

        &.selected {
            background: #D9F2EF;
        }
    }
}



.inputMainDiv {

    p {
        color: #313131;
        // font-family: "SF Pro";
        font-size: 18px;
        font-style: normal;
        font-weight: 510;
        line-height: normal;
    }

}

.inputDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.graphMonthsDiv {
    display: flex;
    width: 72px;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
    flex-shrink: 0;

    p {
        color: #00A991;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.graphDivtable {
    width: 100%;
}

.graphDiv {
    margin-top: 52px;
    height: 300px;
}

.candMainDiv {
    width: 100%;
    // padding: 20px;
    overflow-y: scroll;
    border-radius: 10px;

    &::-webkit-scrollbar {
        display: none;
    }

}

.cardsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}

.candCardMain {
    width: 100%;
    border-radius: 8px;
    background: #FFF;
    cursor: pointer;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px;
}

.rankMianDiv {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.rankBadge {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
}

.rankProfileImg {
    max-width: 98px;
    height: auto;

    img {
        width: 100%;
        height: 100%;
        border-radius: 98px;
    }
}

.rankBadgeText {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    P {
        color: #0B0B0B;
        // font-family: "SF Pro";
        font-size: 14px;
        font-style: normal;
        font-weight: 510;
        line-height: normal;
    }

    span {
        color: #676666;
        // font-family: "SF Pro";
        font-size: 14px;
        font-style: normal;
        font-weight: 510;
        line-height: normal;
    }
}

.rankBadgeMore {
    width: 24px;
    height: 24px;

    img {
        width: 100%;
        height: 100%;
    }
}

.profileSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;

    p {
        color: #676666;
        // font-family: "SF Pro";
        font-size: 14px;
        font-style: normal;
        font-weight: 510;
        line-height: normal;

        span {
            color: #0B0B0B;
        }
    }
}

.statusDiv {
    padding: 4px 8px;
    border-radius: 64px;
    background-color: #E8F7F7;
    color: #00A3B1;


    &.deactivated {
        background-color: rgba(255, 75, 78, 0.20);
        color: #FF4B4E;
    }
}

.cardBtn {
    // width: fit-content;
    margin-top: 8px;
    padding: 16px 28px;
    border-radius: 64px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    background: #fff;
    color: #1C4728;
    border: 2px solid #1C4728;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: #1c472819;
    }
}

@media only screen and (max-width: 1599px) {
    .pScoreDiv {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }

    .dropdownHeader {
        gap: 10px;
        font-size: 22px;
    }

    .gridDiv1 {
        button:nth-of-type(1) {
            margin-right: 8px;
            padding: 10px;

            svg {
                height: 14px;
                width: 20px;
            }
        }

        button:nth-of-type(2) {
            // margin-right: 12px;
            padding: 10px;

            svg {
                height: 14px;
                width: 14px;
            }
        }
    }

    .dropdownItem {
        font-size: 13px;
        padding: 10px 16px;
    }

    .dashboardScroll {
        max-height: 77vh;
        margin-top: 14px;
    }

    .pSubRightDiv {
        // width: calc(100% - 340px);
        padding: 30px 22px;
    }

    .pHeadingDiv {
        h3 {
            font-size: 20px;
        }
    }

    // .pScoreDiv {
    //   grid-template-columns: repeat(3, 1fr);
    // }

    // .leftPercentScore {
    //   p {
    //     font-size: 36px;
    //   }
    // }

    .datePicker {
        // margin-right: 12px;

        .datePickerOpen {
            padding: 10px 12px;
            gap: 5px;

            p {
                font-size: 14px;
                line-height: normal;
            }

            img {
                max-width: 20px;
                max-height: 20px;
            }
        }
    }

    .noResultlist {
        font-size: 18px;
    }

    .pListMainDiv {
        width: 100%;
        // max-height: 700px;
        max-height: 65vh;
        overflow-y: scroll;
        padding-bottom: 40px;
    }

    .pListHeadassigned,
    .pListDataDivassigned {
        grid-template-columns: 0.8fr 0.8fr 1fr 1fr 1.4fr 1fr;
    }

    .pListDataDivassigned h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;

        &:nth-last-child(5) {
            white-space: wrap;
            overflow: none;
            text-overflow: none;
            max-width: 100%;
        }

        &:nth-last-child(3) {
            white-space: wrap;
            overflow: none;
            text-overflow: none;
            max-width: 100%;
        }
    }

    .addRInnerDivassigned p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
    }
}

@media only screen and (max-width: 1366px) {

    // .pScoreDiv {
    //   grid-template-columns: repeat(2, 45%);
    //   // justify-content: space-around;
    // }
    .pScoreDiv {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    .pSubRightDiv {
        // width: calc(100% - 320px);
        padding: 20px 22px;
    }

    .pHeadingDiv {
        h3 {
            font-size: 18px;
        }
    }

    .graphMainDiv {
        padding: 40px;
    }

    .graphDiv {
        margin-top: 60px;
        height: 280px;
    }

    .statusMainDiv {
        padding: 17px 7px;
        // background: yellow;
    }

    .cardsGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        width: 100%;
    }

    .cardBtn {
        padding: 14px 24px;
    }
}

@media only screen and (max-width: 1199px) {
    .pScoreDiv {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    .cardBtn {
        padding: 12px 20px;
        font-size: 14px;
    }

}

@media only screen and (max-width: 1160px) {
    .pListMainDiv {
        padding-bottom: 30px;
    }

    .pListHeadassigned,
    .pListDataDivassigned {
        grid-template-columns: 0.6fr 0.7fr 1fr 1fr 1.5fr 0.8fr;
        gap: 5px;
        padding: 0 10px;
    }

    .graphHeadingDiv {
        padding: 12px 10px;
    }
}

@media only screen and (max-width: 1111px) {

    .pListHeadassigned h3,
    .pListDataDivassigned h3 {
        padding: 17px 0px;
        // background: red;
    }

    .addReviewDivassigned {
        padding: 17px 0px;
        // background: blue;
    }

    .platformMainDiv {
        padding: 17px 0px;
        // background: green;
    }

    .statusMainDiv {
        padding: 17px 0px;
        // background: yellow;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        max-width: 100% !important;
        padding: 0 30px;
    }


    /* Check 768px and add css here */

}

@media only screen and (max-width: 1000px) {
    .container {
        max-width: 940px !important;
    }

    /* Check 1025px and add css here */

}

@media only screen and (max-width: 768px) {
    .container {
        padding: 0 20px;
    }

    /* Check 480px and add css here */


}

@media only screen and (max-width: 525px) {
    .cardsGrid {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        width: 100%;
    }
}

@media only screen and (max-width: 479px) {
    .container {
        padding: 0 15px;
    }

    /* Check 375px and add css here */

    .cardContainer {
        gap: 10px;
        padding: 20px;
    }

    .profileSection {
        gap: 10px;
    }

}

@media only screen and (max-width: 374px) {
    /* Check 320px and add css here */


}

.recentJoinTable {
    :global(.ant-checkbox-inner) {
        border-radius: 50% !important;
        // width: 20px !important;
        // height: 20px !important;
    }
}