@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pSubRightDiv {
  // width: 83%;
  width: calc(100% - 355px);
  height: calc(100vh - 90px);
  padding: 40px 24px;
  animation: fadeInAnimation 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: 1;
}

.backMainDiv {
  display: flex;
  align-items: center;
  gap: 11px;
  width: fit-content;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;

  p {
    color: #313131;
    // font-family: "SF Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
  }

  img {
    width: 24px;
    height: 24px;
  }
}

.skelMargin {
  margin-left: 5px;
}

.pHeadingDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    color: #292933;
    // font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.72px;
  }

  h2 {
    margin-top: 8px;
    color: #292933;
    // font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.66px;
  }
}

.tabTitle {
  width: 100%;
  color: #313131;
  // font-family: "SF Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
}

.loadChart {
  width: 100%;
  display: flex;
  align-items: flex-end;
  // justify-content: flex-start;
  gap: 20px;
  margin: 20px 40px;
}

.gridDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  button {
    border: none;
    outline: none;
    cursor: pointer;
  }

  button:nth-of-type(1) {
    margin-right: 8px;
    border-radius: 12px;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: 0px -1px 1px 0px rgba(255, 255, 255, 0.08) inset,
      0px 1px 3px 0px rgba(255, 255, 255, 0.04);
    padding: 12px;

    svg {
      height: 20px;
      width: 20px;
      color: #353131;
    }
  }

  button:nth-of-type(2) {
    margin-right: 12px;
    border-radius: 12px;
    padding: 12px;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: 0px -1px 1px 0px rgba(255, 255, 255, 0.08) inset,
      0px 1px 3px 0px rgba(255, 255, 255, 0.04);

    svg {
      height: 20px;
      width: 20px;
      color: #353131;
    }
  }
}

.selected {
  background: #0c8ce9 !important;

  svg {
    color: #ffffff !important;
  }
}

.dashboardScroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  // max-height: 77vh;
  margin-top: 22px;
  padding: 20px 0;

  &::-webkit-scrollbar {
    display: none;
  }
}

.graphTableDivMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 52px;
  padding: 52px;
  border-radius: 12px;
  background: #fff;
  // margin-top: 20px;
  flex: 1;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: #b5b5b5;
  }

  &::-webkit-scrollbar-thumb {
    background: #313131;
    border-radius: 4px;
  }
}

.enidTag {
  color: #009883;
  // font-family: "SF Pro";
  font-size: 14px;
  font-style: normal;
  // font-weight: 510;
  line-height: normal;
}

.statusTag {
  width: fit-content;
  padding: 4px 8px;
  border-radius: 64px;
  background: #e6f6f4;
  color: #009883;
  // font-family: "SF Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
}

.graphDivtable {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  h3 {
    color: #0b0b0b;
    // font-family: "SF Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
  }
}

.recentJoinTable {
  width: 100%;
}

.messageBtn {
  width: fit-content;
  align-self: flex-start;
  border-radius: 64px;
  border: 2px solid #1c4728;
  background: #1c4728;
  color: #fff;
  text-align: center;
  // font-family: "SF Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 16px 28px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: rgba(28, 71, 40, 0.1);
    color: #1c4728;
  }
}

.userInfoMainDiv,
.profInfoMainDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  color: black;

  h3 {
    color: #0b0b0b;
    // font-family: "SF Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 590;
    line-height: normal;
  }
}

.userDetailsDiv {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 62px;
}

.badgeDiv {
  display: flex;
  align-items: flex-end;
  gap: 28px;
}

.downloadDiv {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  p {
    color: #676666;
    // font-family: "SF Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
  }
}

.pointsDiv {
  display: flex;
  // width: 78px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  span {
    color: #8e8e8e;
    // font-family: "SF Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
  }

  p,
  a {
    color: #313131;
    // font-family: "SF Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
  }
}

.numberPoints {
  color: #1c4728 !important;
  font-size: 20px !important;
}

.skillsDiv {
  display: flex;
  align-items: flex-start;
  gap: 11px;
}

.skillPoint {
  color: #545454;
  // font-family: "SF Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 16px;
  border-radius: 64px;
  background: #f5f5f5;
}

.statusOptions {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.statusLable {
  color: #676666;
  // font-family: "SF Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
}

.connectBtns {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}

.activeBtn {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  gap: 10px;
  border-radius: 64px;
  background: #e6f6f4;
  border: none;
  color: #009883;
  // font-family: "SF Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
}

.deactiveBtn {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  gap: 10px;
  border-radius: 64px;
  background: rgba(255, 75, 78, 0.2);
  border: none;
  color: #ff4b4e;
  // font-family: "SF Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
}

.statusDiv {
  padding: 4px 8px;
  border-radius: 64px;
  background: #E6F6F4;
  color: #009883 !important;
  // font-family: "SF Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;

  &.noteligible {
    color: #FF4B4E !important;
    background: rgba(255, 75, 78, 0.20);
  }
}

@media only screen and (max-width: 1599px) {
  .pSubRightDiv {
    width: calc(100% - 340px);
    padding: 30px 22px;
  }

  .pHeadingDiv {
    h3 {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .pSubRightDiv {
    width: calc(100% - 320px);
    padding: 20px 18px;
  }

  .pHeadingDiv {
    h3 {
      font-size: 18px;
    }
  }
}