@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.pSubRightDiv {

    height: calc(100vh - 90px);
    padding: 40px 24px;
    animation: fadeInAnimation 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    animation-iteration-count: 1;
}


.backArrow {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        height: 100%;
        margin-top: 2px;
    }
}

.skelMargin {
    margin-left: 5px;
}

.pHeadingDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        color: #292933;

        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.72px;
    }

    h2 {
        margin-top: 8px;
        color: #292933;

        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.66px;
    }
}

.tabTitle {
    width: 100%;
    color: #313131;
    // font-family: "SF Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
}


.dashboardScroll {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    overflow-y: scroll;
    // max-height: 77vh;
    margin-top: 22px;
    padding: 20px 0;

    &::-webkit-scrollbar {
        display: none;
    }
}

.pScoreDiv {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.pleftHead {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.pScoreRightinnerDiv {
    max-width: 378px;
    min-width: 378px;
    padding: 20px;
    border-radius: 16px;
    border: 2px solid #f5f5f5;
    background: #fff;
    backdrop-filter: blur(103px);

    h3 {
        color: #7f7f8a;
        // font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        /* 125% */
        letter-spacing: -0.32px;
    }
}

.pScoreLeftinnerDiv {
    padding: 20px;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.9);
    background: #fff;
    backdrop-filter: blur(103px);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
}

.pScoreLeftinnerDiv h3 {
    color: #313131;
    // font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.28px;
    margin-bottom: 12px;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
}

.leftPercentScore {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3px;
}

.leftPercentScore p {
    color: #009883;
    // font-family: "SF Pro";
    font-size: 32px;
    font-style: normal;
    font-weight: 590;
    line-height: normal;
    margin: 0;
}

.userTitle {
    color: #7F7E7E;
    // font-family: "SF Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
    align-self: flex-end;
}

.graphUserTableDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    // padding: 26px;
    border-radius: 12px;
    // background: #fff;
    // margin-top: 20px;
    flex: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        background: #b5b5b5;
    }

    &::-webkit-scrollbar-thumb {
        background: #313131;
        border-radius: 4px;
    }
}

.enidTag {
    color: #009883;
    // font-family: "SF Pro";
    font-size: 14px;
    font-style: normal;
    // font-weight: 510;
    line-height: normal;
}

.statusTag {
    width: fit-content;
    padding: 4px 8px;
    border-radius: 64px;
    background: #E6F6F4;
    color: #009883;
    // font-family: "SF Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
}

.graphSectionMain {
    width: 90%;
}

.tableFilterMainDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.userFilter {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    p {
        padding: 10px 14px;
        border-radius: 64px;
        border: 1px solid #B0E4DD;
        background: #FFF;
        color: #007F6D;
        // font-family: "SF Pro";
        font-size: 16px;
        font-style: normal;
        font-weight: 510;
        line-height: normal;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            transition: all 0.3s ease-in-out;
            background: #D9F2EF;
        }

        &.active {
            background: #D9F2EF;
        }

        &.selected {
            background: #D9F2EF;
        }
    }
}

.inputMainDiv {

    p {
        color: #313131;
        // font-family: "SF Pro";
        font-size: 18px;
        font-style: normal;
        font-weight: 510;
        line-height: normal;
    }
}

.inputDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.graphMonthsDiv {
    display: flex;
    width: 72px;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
    flex-shrink: 0;

    p {
        color: #00A991;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.graphDivtable {
    width: 100%;
}

.graphDiv {
    margin-top: 52px;
    height: 300px;
}

.questionsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-radius: 8px;
    padding: 20px;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.questionItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    border-radius: 8px;
    background: transparent;
    cursor: pointer;
}

.unresolvedQueItem {
    background: #FCFCFC;
}

.questionContent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    // flex: 1;
    margin-right: 20px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 22px;
}

.userDot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top: 8px;
    background-color: #00BFA6;
}

.username {
    color: #0B0B0B;
    // font-family: "SF Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
}

.questionText {
    color: #676666;
    // font-family: "SF Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
}

.date {
    color: #676666;
    // font-family: "SF Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
}

.status {
    color: #007F6D;
    text-align: right;
    // font-family: "SF Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
}

.unresolvedStatus {
    color: #FF4B4E;
}

@media only screen and (max-width: 1599px) {
    .pScoreDiv {
        // grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }


    .dashboardScroll {
        max-height: 77vh;
        margin-top: 14px;
    }

    .pSubRightDiv {
        // width: calc(100% - 340px);
        padding: 30px 22px;
    }

    .pHeadingDiv {
        h3 {
            font-size: 20px;
        }
    }


}

@media only screen and (max-width: 1366px) {

    .pScoreDiv {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    .pSubRightDiv {
        // width: calc(100% - 320px);
        padding: 20px 22px;
    }

    .pHeadingDiv {
        h3 {
            font-size: 18px;
        }
    }

    .graphMainDiv {
        padding: 40px;
    }

    .graphDiv {
        margin-top: 60px;
        height: 280px;
    }

    .statusMainDiv {
        padding: 17px 7px;
        // background: yellow;
    }
}

@media only screen and (max-width: 1199px) {
    .pScoreDiv {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

}

@media only screen and (max-width: 1160px) {
    .pListMainDiv {
        padding-bottom: 30px;
    }

    .graphHeadingDiv {
        padding: 12px 10px;
    }
}

@media only screen and (max-width: 1111px) {

    .pListHeadassigned h3,
    .pListDataDivassigned h3 {
        padding: 17px 0px;
        // background: red;
    }



    .statusMainDiv {
        padding: 17px 0px;
        // background: yellow;
    }
}