@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.pSubRightDiv {
    // width: 83%;

    height: calc(100vh - 90px);
    padding: 40px 24px;
    animation: fadeInAnimation 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    animation-iteration-count: 1;
}

.backMainDiv {
    display: flex;
    align-items: center;
    gap: 11px;
    width: fit-content;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;

    p {
        color: #313131;
        // font-family: "SF Pro";
        font-size: 20px;
        font-style: normal;
        font-weight: 510;
        line-height: normal;
    }

    img {
        width: 24px;
        height: 24px;
    }
}

.dashboardScroll {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    // max-height: 77vh;
    margin-top: 22px;
    padding: 20px 0px;

    //   &::-webkit-scrollbar {
    //     display: none;
    //   }
    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        background: #b5b5b5;
    }

    &::-webkit-scrollbar-thumb {
        background: #313131;
        border-radius: 4px;
    }
}

.graphTableDivMain {
    width: 100%;
    max-width: 1046px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 52px;
    padding: 52px;
    border-radius: 12px;
    background: #fff;
    // margin-top: 20px;
    flex: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        background: #b5b5b5;
    }

    &::-webkit-scrollbar-thumb {
        background: #313131;
        border-radius: 4px;
    }
}

.addMemForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.addMemberDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;

    p {
        color: #313131;
        // font-family: "SF Pro";
        font-size: 18px;
        font-style: normal;
        font-weight: 510;
        line-height: normal;
    }
}

.addMemLeft {
    width: 85px;
    height: 85px;
    background: #f5f5f5;
    border-radius: 42px;
    position: relative;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.addMemFieldsMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 52px;
    width: 100%;
}

.detailHeading {
    color: #313131;
    // font-family: "SF Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
}

.addMemFirstDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.addMemPersonalDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

.addMem2GridDiv {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 100%;
}

.text {
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 13px;
    padding: 0 5px;
    background: #fff;
    width: fit-content;
    color: #313131;
    // font-family: "SF Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input {
    padding: 18px;
    border: 1px #b5b5b5 solid;
    border-radius: 10px;
    background: #fff;
    color: #313131;
    // font-family: "SF Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &::placeholder {
        color: #b5b5b5;
    }

    &:focus {
        outline: none;
    }

    :global(.react-international-phone-country-selector) {
        padding-right: 14px;
        border-right: 1px solid#D8D8D8;
    }

    :global(.react-international-phone-country-selector-button) {
        border-radius: 0px;
        margin-right: 0px;
        border: none;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        background: none;
        height: auto;

        &:hover {
            background: none;
        }
    }

    :global(.react-international-phone-flag-emoji) {
        width: 30px;
        height: 19px;
        box-sizing: border-box;
        margin: 0;
        max-width: 30px;
        object-fit: cover;
        margin-right: 5px;
    }

    :global(.react-international-phone-country-selector-button__dropdown-arrow) {
        margin-right: 0;
        border: none;
        transition: none;
        display: block;
        content: "";
        width: 22px;
        height: 19px;
        border-style: none;
        opacity: 1;
        border: none;
        transform: rotate(0deg);
        background-image: url(/icons/arrowdown.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    :global(.react-international-phone-country-selector-dropdown) {
        overflow-y: auto;
        border-radius: 10px;
        padding: 5px 4px;
        color: #5f5f5f;
        font-family: "SF Pro";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        outline: none;

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-track {
            background: #b5b5b5;
        }

        &::-webkit-scrollbar-thumb {
            background: #313131;
            border-radius: 4px;
        }
    }

    :global(.react-international-phone-country-selector-dropdown__list-item) {
        &:hover {
            background: #d9f2ef;
            color: #313131;
        }
    }

    :global(.react-international-phone-country-selector-dropdown__list-item--focused) {
        background: #d9f2ef;
        color: #313131;
    }
}


.phoneInnerInput {
    width: 100% !important;
    border-radius: 0 !important;
    outline: none !important;
    margin: 0 !important;
    border: none !important;
    color: #5f5f5f !important;
    font-family: "SF Pro" !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
    height: auto !important;
    background: none !important;
    margin-left: 14px !important;

    &::placeholder {
        color: #b5b5b5 !important;
    }
}

.errMes {
    font-size: 14px;
    color: red;
    margin-top: 5px;
    margin-left: 5px;
}

.formFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.forgotPassword {
    color: #00a389;
    text-decoration: underline;
    font-size: 14px;
    // font-family: "SF Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        transition: all 0.2s ease-in-out;
        transform: scale(1.01);
    }
}

.activateDiv {
    width: fit-content;
    border-radius: 64px;
    background: #E6F6F4;
    padding: 4px 8px;
    color: #009883;
    // font-family: "SF Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
    margin: 18px;
}

.deactivateDiv {
    width: fit-content;
    border-radius: 64px;
    background: rgba(255, 75, 78, 0.20);
    padding: 4px 8px;
    color: #FF4B4E;
    // font-family: "SF Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
    margin: 18px;
}

.termsText {
    margin: 0;
    color: #8e8e8e;
    // font-family: "SF Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.foregtPswdText {
    color: #00A991;
    // font-family: "SF Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 12px 0px 10px 0px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        transition: all 0.2s ease-in-out;
        text-decoration: underline;
        // transform: scale(1.01);
    }
}

.addMemBtn {
    width: fit-content;
    align-self: flex-end;
    border-radius: 64px;
    border: 2px solid #1c4728;
    background: #1c4728;
    color: #fff;
    text-align: center;
    // font-family: "SF Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 18px 28px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        transition: all 0.2s ease-in-out;
        background-color: #1c472819;
        color: #1c4728;
    }
}

@media only screen and (max-width: 1599px) {
    .pSubRightDiv {
        // width: calc(100% - 340px);
        padding: 30px 22px;
    }

    .formFooter {
        margin-top: 0px;
    }

    .signInButton {
        padding: 14px 28px;
    }
}

@media only screen and (max-width: 1366px) {
    .pSubRightDiv {
        // width: calc(100% - 320px);
        padding: 20px 18px;
    }
}

@media screen and (max-width: 900px) {
    .signInButton {
        padding: 7px 24px;
    }
}